{{ form_start(form) }}
Nazwa produktu: <br>
{{ form_widget(form.nazwa) }} <br>
Numer seryjny: <br>
{{ form_widget(form.numerSeryjny) }} <br>
Data produkcji:
{{ form_widget(form.dataProdukcji) }}
Planowana data i godzina utylizacji:
{{ form_widget(form.PlanowanaDataUtylizacji) }}
Czy produkt został zutylizowany
{{ form_widget(form.CzyZostaloZutylizowane) }} <br>
    <button class="btn">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
