{% extends 'base.html.twig' %}

{% block title %}ProduktDoUtylizacji index{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Numer Seryjny</th>
                <th>Data Produkcji</th>
                <th>Planowana Data Utylizacji</th>
                <th>Czy Zostało Zutylizowane</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produkt_do_utylizacji in produkt_do_utylizacjis %}
            <tr>
                <td>{{ produkt_do_utylizacji.id }}</td>
                <td>{{ produkt_do_utylizacji.nazwa }}</td>
                <td>{{ produkt_do_utylizacji.numerSeryjny }}</td>
                <td>{{ produkt_do_utylizacji.dataProdukcji ? produkt_do_utylizacji.dataProdukcji|date('Y-m-d') : '' }}</td>
                <td>{{ produkt_do_utylizacji.PlanowanaDataUtylizacji ? produkt_do_utylizacji.PlanowanaDataUtylizacji|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produkt_do_utylizacji.CzyZostaloZutylizowane ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_produkt_do_utylizacji_show', {'id': produkt_do_utylizacji.id}) }}">show</a>
                    <a href="{{ path('app_zmienc', {'id': produkt_do_utylizacji.id}) }}">Zmień status utylizacji</a>
                    <a href="{{ path('app_produkt_do_utylizacji_edit', {'id': produkt_do_utylizacji.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produkt_do_utylizacji_new') }}">Create new</a>
{% endblock %}
